/* Bloques de estilo para el template */

#header {
	width: 874px;
	text-align: center;
	margin: 0 auto;
	background: #CCC;
	font-size: 40px;
	font-family: "comic sans";
	font-weight: bold;
	border-style: solid;
	height: 90px;
	border-width: 4px;
}

#footer {
	text-align: center;
	border-style: solid;
	width: 874px;
	background: #CCC;
	margin: 0 auto;
	border-width: 4px;
	font-weight: bold;
}

.menubotones {
  border-style: solid;
  border-width: 4px;
	border-color: black;
	background: black;	
  text-align: left;
  width: 874px; 
  margin: 0 auto;;
}

#contents {
	text-align: center;	
	width: 874px; 
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
	background: white;
	border-style: solid;
	border-width: 4px;
}

a:hover {
	color: #045FB4;
	font-weight: bold;
	text-decoration:none;
}

a:link {
	color: #045FB4;
	text-decoration:none;
}

a:visited {
  color: #045FB4;
	text-decoration:none;
}

/*Se aplica solo al link de cerrar sesión */

		a:hover[id=cerrar_sesion] {
			color: white;
			text-decoration:none;
		}

		a:link[id=cerrar_sesion] {
			color: white;
			text-decoration:none;
		}

		a:visited[id=cerrar_sesion] {
			color: white;
			text-decoration:none;
		}

#capa_cerrar_sesion {
	float: right;
	position: relative;
	font-size: 15px;
	border-style: solid;
	border-width: 4px;
	border-color: midnightblue;
	background: midnightblue;
	font-family: "arial";
}

#usuario {
	float: right;
	position: relative;
	font-size: 15px;
	font-family: "arial";
	top: 4px;
	right: 5px;
}

#titulo {
	position: absolute;
	padding-left: 95px;
	padding-top: 18px;
}





/* Bloques de estilos para las vistas */

body {
	background: #e1e5e9;
	font-family: "Georgia", Tahoma, Sans-Serif;
	font-size: 12px;
	line-height: 18px;
}

.texto {
	color: blue;
}

#comentario {
	border-style: solid;
	border-width: 4px;
	background: #CCC;
}


/*Vista Provisional Muro*/

.borrar {
  float: right;
  padding: 1px;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  margin-right: 10px;
  position: relative;
  background: #dddddd;
  color: red;
  font-weight: bold;
}

.propietario {
	text-align: left;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  width: 700px;
  margin: auto;
  margin-left: -180px;
  position: relative;
  top: 2px;
  background: #ccc;
}

.contenedor {
  width: 440px;
  margin: auto;
}

.cuerpo {
	padding-top: 10px;
	padding-bottom: 10px;
}

.envio {
	width: 400px;
	border-style: solid;
	border-width: 2px;
	margin: auto;
	margin-bottom: 20px;
	padding-top: 10px;
}

.fechahora{
	font-size: x-small;
  text-align: right;
	padding-right: 5px;
}

#menu_muro{
  font-size: xx-large;
  padding-left: 15px;
  position: relative;
  text-align: left;
  top: -35px;
  height: 70px;
}
