/* Bloques de estilo para el template */

#header {
	width: 874px;
	text-align: center;
	margin: 0 auto;
	background: #CCC;
	font-size: xx-large;
	font-weight: bold;
	border-style: solid;
	height: 80px;
	border-width: 4px;
}

#footer {
	text-align: center;
	border-style: solid;
	width: 874px;
	background: #CCC;
	margin: 0 auto;
	border-width: 4px;
	font-weight: bold;
}

#contents {
	text-align: center;
	
	width: 874px; 
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
	background: white;
	border-style: solid;
	border-width: 4px;
}

#menubotones {
  border-style: solid;
  border-width: 4px;
  text-align: left;
  width: 874px; 
  margin: 0 auto;
  background: #888; 
}

#tabla_menu_botones {
	background: #CCC;
	border-color: #CCC;
}

#usuario {
	background: #CCC;
	border-color: #CCC;
}

a:hover {
	color: #888;
	font-weight: bold;
	text-decoration:none;
}

a:link {
	color: #888;
	text-decoration:none;
}

a:visited {
  color: #888;
	text-decoration:none;
}


/* Bloques de estilos para las vistas */

body {
	background: #e1e5e9;
	font-family: "Georgia", Tahoma, Sans-Serif;
	font-size: 12px;
	line-height: 18px;
	color: #888;
}

.texto {
	color: blue;
}

#comentario {
	border-style: solid;
	border-width: 4px;
	background: #CCC;
}

#boton_salir {
	
}
