/* Bloques de estilo para el template */

#header {
	width: 874px;
	text-align: center;
	margin: 0 auto;
	background: #CCC;
	font-size: 40px;
	font-family: "comic sans";
	font-weight: bold;
	border-style: solid;
	height: 90px;
	border-width: 4px;
}

#logo {
	background-image: url("../images/logo.jpg");
	width: 83px;
	height: 83px;
	position: absolute;
	border-style: solid;
	border-width: 4px;
	text-align: left;
}

#footer {
	text-align: center;
	border-style: solid;
	width: 874px;
	background: #CCC;
	margin: 0 auto;
	border-width: 4px;
	font-weight: bold;
}

.menubotones {
  border-style: solid;
  border-width: 4px;
	border-color: black;
	background: black;	
  text-align: left;
  width: 874px; 
  margin: 0 auto;;
}

#contents {
	text-align: center;	
	width: 874px; 
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
	background: white;
	border-style: solid;
	border-width: 4px;
}

a {
	color: #819FF7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/*Se aplica solo al link de cerrar sesión */

		a[id=cerrar_sesion] {
			color: white;
			text-decoration:none;
		}

		a:hover[id=cerrar_sesion] {
			text-decoration: underline;
		}


#capa_cerrar_sesion {
	float: right;
	position: relative;
	font-size: 15px;
	border-style: solid;
	border-width: 4px;
	border-color: midnightblue;
	background: midnightblue;
	font-family: "arial";
}

#usuario {
	float: right;
	position: relative;
	font-size: 15px;
	font-family: "arial";
	top: 4px;
	right: 5px;
}

#titulo {
	position: absolute;
	padding-left: 95px;
	padding-top: 18px;
}





/* Bloques de estilos para las vistas */

body {
	background: #e1e5e9;
	font-family: "Georgia", Tahoma, Sans-Serif;
	font-size: 12px;
	line-height: 18px;
}

.texto {
	color: blue;
}

.comentario {
	border-style: solid;
	border-width: 4px;
	background: #CCC;
}


/*Vista Provisional Muro*/

.borrar {
  float: right;
  padding: 1px;
  margin-right: 18px;
	border-style: solid;
  border-width: 2px;
	bottom: 8;
  position: relative;
  font-weight: bold;
}

.borrar_comentarios {
  float: right;
  padding: 1px;
  margin-right: 283px;
	border-style: solid;
  border-width: 2px;
	position: relative;
	top: 20px;
  font-weight: bold;
}

.propietario {
	text-align: left;
  padding: 10px;
  margin: auto;
  margin-left: -140px;
  top: 4px;
  background: black;
	color: white;  
}

.propietario_comentario {
  text-align: left;
  padding: 8px;
  margin: auto;
  margin-left: 220px;
  top: 7px;
  background: black;
	color: white;  
}

.contenedor {
  width: 440px;
  margin: auto;
}

.cuerpo {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.envio {
	width: 400px;
	border-style: solid;
	border-width: 2px;
	margin: auto;
	padding-top: 10px;
}

.comentario {
  width: 300px;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  padding-top: 10px;
	margin-right: 233px;
  background: #F2F2F2;
}

.visible_comentario {
  display: block;
}

.propietario_comentario {
  text-align: center;
  padding: 8px;
  width: 170px;
  margin: auto;
  margin-left: 200px;
  position: relative;
  top: 2px;
  background: black;
	color: white;  
}

.envio {
	width: 400px;
	border-style: solid;
	border-width: 2px;
	margin: auto;
	padding-top: 10px;
}

.boton {
	font-family: "Arial";
  color: white;
	font-size: 14px;
	font-weight: bold;
	background: midnightblue;
	border-color: midnightblue;
}

.boton_borrar {
	font-family: "Arial";
  color: white;
	font-size: 14px;
	font-weight: bold;
	background: #8A0808;
	border-color: #8A0808;
}

.boton_comentarios {
	font-family: "Arial";
  color: white;
	font-size: 14px;
	font-weight: bold;
	background: midnightblue;
	border-color: midnightblue;
}

.boton_me_gusta {
	background-color: white;
	background-image: url("../images/me_gusta.jpg");
	width: 35px;
	height: 25px;
	float: right;
	position: relative;
	bottom: 18px;
}

.boton_no_me_gusta {
	background-color: white;
	background-image: url("../images/no_me_gusta.png");
	width: 35px;
	height: 25px;
	float: right;
	position: relative;
	bottom: 18px;
}

.me_gusta {
	width: 400px;
	margin: auto;
	margin-bottom: 20px;
	text-align: left;
	font-family: "Arial";
	color: green;
}

.fechahora{
	font-size: x-small;
  text-align: right;
	padding-right: 5px;
}

#menu_muro{
  font-size: xx-large;
  padding-left: 15px;
  position: relative;
  text-align: left;
  top: -35px;
  height: 70px;
}


.cuadro_texto{
  width: 300px;
  margin: auto;
  padding-top: 10px;
}
